body{
    font-family: 'source sans pro' , calibri, tahama, sans-serif;
    margin-top:auto;
    background-color: rgb(255, 255, 255);
}
.page{
    width: 500px;
    height:1450px;
    margin:auto;
    border-radius: 100px;
    padding:20px;
    border: 8px solid;
    background-color: rgb(129, 96, 96);
    
}
.samaphoto{
    text-align: center;
    object-fit: cover;
    border-radius: 0%;
}
h1{
    text-align: center;
}
.download-btn {
  
  padding: 12px 20px;
  background-color:  rgb(129, 96, 96);
  color: white;
  text-decoration: underline;
  border-radius: 30px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 30px auto;
  border-color:black;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
#toggle-theme {
 
  margin: 20px;
  padding: 10px 15px;
  background-color:  rgb(129, 96, 96);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  
}

#toggle-theme:hover {
  background-color:chocolate;
}

.dark-mode {
  background-color:black;
  color:white;
}


